<form class="form-container"
		[formGroup]="formGroup">
	<mat-selection-list>
		<ng-container *ngFor="let todoItem of todoItems; index as index">
			<ng-container [ngSwitch]="todoItem.mode">
				<ng-container *ngSwitchCase="'read'">
					<mat-list-option #option
										  (click)="onSelection(option, todoItem)">
						{{todoItem.value}}
						<div class="option-buttons">
							<button mat-button
									  class="edit-item"
									  type="button"
									  (click)="onEdit(todoItem)">Edit</button>
							<button mat-button
									  class="delete-item"
									  type="button"
									  (click)="onDelete(todoItem)">Delete</button>
						</div>
					</mat-list-option>
				</ng-container>
				<ng-container *ngSwitchCase="'update'">
					<mat-list-item>
						<button mat-button
								  class="cancel-item"
								  type="button"
								  (click)="onCancel(todoItem)">Cancel</button>
						<button mat-button
								  class="save-item"
								  type="button"
								  (click)="onSave(todoItem)">Save</button>
						<mat-form-field>
							<input matInput
									 #itemRef
									 maxlength="100"
									 [placeholder]="'Item ' + (index + 1)"
									 [formControlName]="todoItem.id">
							<mat-hint align="end">{{itemRef.value.length}} / 100</mat-hint>
						</mat-form-field>
					</mat-list-item>
				</ng-container>
				<ng-container *ngSwitchDefault>
					something is wrong...
				</ng-container>
			</ng-container>
		</ng-container>
		<button mat-button
				  class="save-item"
				  type="button"
				  (click)="onAdd()">Add</button>
	</mat-selection-list>
</form>